.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .header-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        .nav-list {
            padding-left: 65px;
            width: 60%;
            display: flex;
            justify-content: space-around;
            .logo {
                width: 100px;
                display: flex;
                justify-content: center;
                img {
                    width: 80px;
                }
            }
            .nav-item {
                padding-top: 30px;
                color: whitesmoke;
                font-size: 12px;
                font-weight: 600;
                cursor: pointer;
                position: relative;
                transition: 0.6s;
            }
            .nav-item:hover{
                color: #dbae26;
            }
            .nav-item::before {
                content: '';
                width: 0;
                height: 3px;
                background-color: #dbae26;
                position: absolute;
                top: 50px;
                transition: 0.6s;
            }
            .nav-item:hover::before {
                width: 100%;
            }
        }
    }
}

.header-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 150px 0;
    .header-h1 {
        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-btn {
        width: 300px;
        height: 36px;
        border-radius: 8px;
        background-color: #dbae26;
        color: whitesmoke;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition:all 0.6s;
        position: relative;
        overflow: hidden;
    }
    .header-btn::before {
        position: absolute;
        top: -200px;
        content: '';
        width: 400px;
        height: 50px;
        background: #fff;
        background: linear-gradient(
        to bottom,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 1) 50%,
      rgba(255, 255, 255, 0.5) 100%
        );
        transition: 0.6s;
        transform: rotate(-30deg);
    }
    .header-btn:hover {
        background-color: #906f0d;
        color: gray;
    }
    .header-btn:hover::before {
        top: 200px;
    }
}    